:root {
  --bg-color: #35364A;
  --primary: #F6F1DE; /* body text */
  --secondary: #C1D8C3; /* choice body text, button text */
  --accent: #6A9C89; /* outline stroke, link hover, selected */
  --hyperlink: #FFA725; /* hyperlink */
}

a {
  color:var(--hyperlink);
}
a:hover {
  color: var(--accent);
}

h1 {  /* title*/
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
	font-size: 48px;
  font-style: normal;
  color: var(--secondary);
}
p { /* body text*/
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: medium;
	font-size: 15px;
  font-style: normal;
  color: var(--primary);
  text-align: left;
  line-height: 130%;
}
.action {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: semi-bold;
	font-size: 14px;
  font-style: normal;
  color:  var(--secondary);
  text-align: center;
}
.simulation_text{
  max-width: 500px;
  position: flex;
}
.choice_button_text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
}
.choice_button_text_selected {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
}
.navbuttons {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: semi-bold;
	font-size: 20px;
  font-style: normal;
  color: var(--accent);
}

#disaster-picker{
  max-width: 500px;
  display: grid;
  flex-direction: column;
}

.fire {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.fire:hover {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.fire:focus {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}

.disease {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.disease:hover {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.disease:focus {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}

.cancel {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.cancel:hover {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.cancel:focus {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}

.dont-cancel {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.dont-cancel:hover {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.dont-cancel:focus {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
#city-picker{
  max-width: 500px;
  display: grid;
  flex-direction: column;
}
.rio-1{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.rio-1:hover{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.rio-1:focus{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.beijing{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.beijing:hover{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.beijing:focus{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.la{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.la:hover{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.la:focus{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.rio-2{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.rio-2:hover{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.rio-2:focus{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.atlanta{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.atlanta:hover{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.atlanta:focus{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.seoul{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.seoul:hover{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.seoul:focus{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.pyeongchang{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.pyeongchang:hover{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.pyeongchang:focus{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.sochi{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.sochi:hover{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.sochi:focus{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.athens{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
.athens:hover{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.athens:focus{
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}
.cancelled {
  width: 500px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-size: 18px;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent);
  border-color: var(--accent);
}

#not-cancelled {
  max-width: 476px;
  height: 300px;
  overflow: auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border: 1px solid var(--accent); /* Added 'solid' to make the border visible */
  padding: 10px; /* Optional: Adds space inside the box */
}
.city-info{
  max-width: 470px;
  height: 150px;
  overflow: auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
  color: var(--secondary);
  background-color: var(--bg-color);
  border: 1px solid var(--accent); /* Added 'solid' to make the border visible */
  padding: 15px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbutton {
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: semi-bold;
  font-size: 18px;
  font-style: normal;
  background-color: var(--secondary);
  color: var(--accent);
  cursor: pointer;
  width: 159px;
  height: 55px;
}
.navbutton:hover {
  background-color: var(--accent);
  color: var(--bg-color);
}
ul{
  margin:0;
  padding:0
}
li{
  list-style-type:none;
  gap:5em;
  place-items:center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
	font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

hr{
  border-color: var(--secondary);
  opacity: 0.4;
  margin-top: 0px;
}

.menu {
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  padding: 10px;
  text-align: center;
  position: sticky;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2em;
  text-align: center;
}

.menu li {
  display: inline;
  place-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: semi-bold;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: var(--secondary); 
  opacity: 0.4;                /* 80% opacity */
  transition: color 0.3s ease, opacity 0.3s ease;
  padding: 10px 15px;
  display: block;
}

.menu a:hover,
.menu a.active {
  color: white;
  opacity: 1;
}
.menu li.active a {
  color: var(--secondary);
  opacity: 1;
}
.chooseproblem {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: semi-bold;
	font-size: 13px;
  font-style: normal;
  color:  var(--secondary);
  opacity: .4;
  text-align: center;
  margin-top: 0px;
}
.problem-image{
  max-width: 500px;
  opacity: .75;
}

.iconpics{
  max-width: 60px;
}